---
permalink: /api/posts.json
layout: null
---

[
{% for post in collections.content %}
{
   "title":"{{post.data.title}}",
   "url":"{{post.url}}",
   "content":"{{ post.content | striptags}}"
} {% if loop.last == false %},{% endif %}
{% endfor %} 
]