<!doctype html>
<html lang="{{ metadata.language }}" id="root-app">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta
    name="description" content="{{ description or metadata.description }}">
    {# Emmedded CSS for prevent layout shifting, this should not be too large size #}
    <style>
      {% include "public/css/embbed.css" %}
    </style>
  </head>
  <body>
    <main>
      {{ content | safe }}
    </main>
    <footer>
      <p>
        <em>Built with
          <a href="https://www.11ty.dev/">{{ eleventy.generator }}</a>
        </em>
      </p>
    </footer>
  </body>
  <script type="module" crossorigin src="/js/main.js"></script>
</html>