---
layout: layouts/base.njk
---

{# Only include the syntax highlighter CSS on blog posts, included with the CSS per-page bundle #}
{%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %}
{%- css %}{% include "public/css/prism-diff.css" %}{%- endcss %}
<div id="wrapper">
  <main class="post">
    <h1>{{ title }}</h1>
    <section id="brief" class="prose">
      {{ content | safe }}
    </section>
    <hr>
      {% include "_includes/layouts/footer.njk" %}
    </main>
  </div>